<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>

  <nav class="navbar has-background-dark " role="navigation" aria-label="main navigation">
    
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <h1 class="navbar-item title is-1 has-text-white">
          Cthulhu Invades
        </h1>
      </div>
     
      <div class="navbar-end">
        <div class="navbar-item">
          {{#if loggin_in}}
          <div class="buttons">
            <a href="/charSelect" class="button is-primary">
              <strong>Select Character</strong>
            </a>
            <a class="button is-primary">
              <strong>Logout</strong>
            </a>
            {{/if}}  
          </div>
        </div>
      </div>
    </div>
  </nav>

  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer>

  </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>