<div id="name-fighter">
  <div>
    <label for="char-name">Name Your Fighter:</label>
    <input type="text" id="fighter-name" />
  </div>
</div>

<div>
  <section id="yellow-rat">
    <div id="p1">
      <input type="checkbox" id="checkbox-1" />
      <style>
        #checkbox-1 { width: 50px; height: 50px; }
      </style>
      <img
        id="yellowRat"
        src="not-found.png"
        alt="placeholder image"
        width="150"
        height="150"
      />
    </div>

    <div id="fighter-type">
      <h4 id="pikachuHeader-1"><strong>Fighter Type: Glass Cannon</strong></h4>
      <p>
        This character deals high damage. but at the cost of low defense. Can be
        rewarding but also punishing.
      </p>
    </div>

    <div id="fighter-stats1">
      <h4 id="pikachuHeader-2"><strong>Fighter Stats:</strong></h4>
      <ul id="bullet-stats">
        <li>Low Defense</li>
        <li>Hight Attack</li>
      </ul>
    </div>
  </section>

  <section id="italian-plumber">
    <div id="p2">
      <input type="checkbox" id="checkbox-2" />
      <style>
        #checkbox-2 { width: 50px; height: 50px; }
      </style>
      <img
        id="italianPlumber"
        src="not-found.png"
        alt="placeholder image"
        width="150"
        height="150"
      />
    </div>

    <div id="fighter-type2">
      <h4 id="italianPlumber-1"><strong>Fighter Type: All Rounder</strong></h4>
      <p>
        This character has even stats across the board, allowing for the perfect
        mesh of aggression and defense.
      </p>
    </div>

    <div id="fighter-stats2">
      <h4 id="ItalianPlumber-2"><strong>Fighter Stats:</strong></h4>
      <ul id="bullet-stats">
        <li>Medium Defense</li>
        <li>Medium Attack</li>
      </ul>
    </div>
  </section>

  <section id="green-warrior">
    <div id="p3">
      <input type="checkbox" id="checkbox-3" />
      <style>
        #checkbox-3 { width: 50px; height: 50px; }
      </style>
      <img
        id="greenWarrior"
        src="not-found.png"
        alt="placeholder image"
        width="150"
        height="150"
      />
    </div>

    <div id="fighter-type3">
      <h4 id="greenWarrior-1"><strong>Fighter Type: Tank</strong></h4>
      <p>
        This character excels at defense, but at the cost of offensive prowess.
        Great for a slower, more methodical playstyle.
      </p>
    </div>

    <div id="fighter-stats">
      <h4 id="greenWarrior-2"><strong>Fighter Stats:</strong></h4>
      <ul id="bullet-stats">
        <li>High Defense</li>
        <li>Low Attack</li>
      </ul>
    </div>
  </section>
</div>