<img id="bgImgCharSel" src="/images/7481714.jpg" alt="space" />

<div id="nameConCharSelec" class="container">
  <div
    id="charNameContainer"
    class="rows is-flex is-justify-content-center has-background-dark has-text-light"
  >
    <div id="charInputContainer" class="row p-1">
      <label class="is-size-5 has-text-center" id="charName">Name Your Fighter:</label>
      <input
        class="input is-primary p-2"
        type="text is-size-5 "
        id="charNameInput"
      />
    </div>
  </div>
</div>

<div id="containerCharSel" class="container">

  <div class="columns">
    <div
      class="column has-text-center is-centered is-flex is-justify-content-center is-flex-wrap-wrap has-background-dark has-text-light is-size-5"
    ><p>Select Which Fighter You Want to Play With</p></div>
  </div>

  <div
    id="choicesCharSel"
    class="columns is-centered is-flex is-justify-content-center is-flex-wrap-wrap has-background-dark has-text-light"
  >
    <section id="yellow-rat" class="column">
      <div id="p1">
        <img id="yellowRat" src="/images/pika.png" alt="electric yellow rat" />
      </div>
        <h4 id="pikachuHeader-1"><strong>Fighter Type: Glass Cannon</strong></h4>
        <p>
          This character deals high damage. but at the cost of low defense. Can
          be rewarding but also punishing.
        </p> <br>
        <ul id="bullet-stats">
          <li>Low Defense</li>
          <li>Hight Attack</li>
        </ul> <br>

        <a class="button is-primary" id="assassin">
              <strong>ASSASSIN</strong>
            </a>
      
    </section>

    <section id="italian-plumber" class="column">
      <div id="p2">
        <img id="italianPlumber" src="/images/mario.png" alt="mustached italian"/> 
      </div> <br>
        <p>
          This character has even stats across the board, allowing for the
          perfect mesh of aggression and defense.
        </p> <br>

        <ul id="bullet-stats">
          <li>Medium Defense</li>
          <li>Medium Attack</li>
        </ul> <br>

        <a class="button is-primary" id="allrounder">
              <strong>ALL-ROUNDER</strong>
            </a>
            <br>
    </section>

    <section id="green-warrior" class="column">
      <div id="p3">
        <img id="greenWarrior" src="/images/link.png" alt="warrior dressed in green"/>
      </div> <br>
        <p>
          This character excels at defense, but at the cost of offensive
          prowess. Great for a slower, more methodical play style.
        </p> <br>

        <ul id="bullet-stats">
          <li>High Defense</li>
          <li>Low Attack</li>
        </ul> <br>

        <a class="button is-primary" id="tankyboi">
              <strong>TANKYBOI</strong>
            </a>
    </section>
  </div>
</div>

<script src="./js/charSelect.js"></script>