{{! loads background img, boss img, and login btn as the "main menu" }}
<img id="bgImgHome" src="/images/7481714.jpg" alt="space" />
<img id="spaceBossHome" src="/images/cthulhu.png" alt="cthulhu" />
<button class="buttonHome" id="loginBtnHome"><a
    class="has-text-light"
    href="/login"
  >START GAME</a>
</button>