<div class="row">
  <div class="col-md-6">
    <h2 class="">Login</h2>

    <form id="login-form">
      <div class="form-group">
        <label for="email-login">Email address</label>
        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input type="password" class="form-control" id="password-login" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-dark mt-1" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <h2 class="">Signup</h2>

    <form id="signup-form">
      <div class="form-group">
        <label for="name-signup">Name</label>
        <input type="name" class="form-control" id="name-signup" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="email-signup">Email address</label>
        <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password-signup">Password</label>
        <input type="password" class="form-control" id="password-signup" placeholder="Password">
      </div>
      

      <button type="submit" class="btn btn-dark mt-1" type="submit">Submit</button>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>