<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<body class="bgimage" style="background: url(./public/images/7481714.jpg)">
    <div id="containerLogin" class="container is-fluid">
        <div
            class="columns is-desktop is-centered"
            id="loginsignup"
        >
            <div
            class="column is-two-fifths-desktop is-full-mobile has-text-light has-background-dark mx-4 my-4"
            id="login"
            >
            <h2 class="title has-text-light">Login</h2>
            <form id="login-form">
                <div class="field">
                <label for="username-login">Username</label>
                <input
                    type="username"
                    class="input is-large"
                    id="user-login"
                    placeholder="Enter Username"
                />
                </div>
                <div class="field">
                <label for="password-login">Password</label>
                <input
                    type="password"
                    class="input is-large"
                    id="password-login"
                    placeholder="Enter Password"
                />
                </div>
                <button class="button is-black is-large" type="submit">Log in</button>
            </form>
            </div>

            <div
            class="column is-two-fifths-desktop is-full-mobile has-text-light has-background-dark mx-4 my-4"
            id="signup"
            >
            <h2 class="title has-text-light">Signup</h2>
            <form id="signup-form">
                <div class="field">
                <label for="username-signup">Username</label>
                <input
                    type="username"
                    class="input is-large"
                    id="username-signup"
                    placeholder="Create a Username"
                />
                </div>
                <div class="field">
                <label for="password-signup">Password</label>
                <input
                    type="password"
                    class="input is-large"
                    id="password-signup"
                    placeholder="Create a Password"
                />
                </div>
                <button class="button is-black is-large" type="submit">Sign-up</button>
            </form>
            </div>
        </div>
    </div>
</body>

<script src="./js/login.js"></script>