<img id="bgImgProfile" src="/images/45908.jpg" alt="space" />

<div id="" class="container is-centered">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div
    class="columns has-background-dark is-flex is-justify-content-space-between has-text-light is-align-content-center is-flex-wrap-wrap"
  >

    <div
      class="column has-text-centered has-background-dark has-text-light p-2"
    >
      <p class="has-text-light" id="charNamePro">{{username}}
        and your champion
        {{fighter.fighter_name}}</p>
    </div>

  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"
></script>

<div id="proContain" class="container is-centered">

  <div
    class="has-background-dark is-flex is-justify-content-space-between has-text-light is-align-content-center is-flex-wrap-wrap"
  >
    <div class="has-text-centered has-background-dark p-2">
      <br />
      <br />
      <img id="charImgPro" src="{{fighter.fighter_image}}" alt="" />
    </div>

    <div class="has-background-dark">
      <div class="style-fight-button">
        <button
          class="floating-btn-profile has-text-primary"
          id="fight-button"
        ><a href="/fight" class="has-text-primary" id="choose-fighter">
            FIGHT!</a></button>
      </div>
    </div>

    <div class="wrapper">
      <div class="contain is-flex">
        <div class="chartTitle">
          <h4 class="statsProfile has-text-centered">STATS</h4>
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/profile.js"></script>