<body>
    <section>
        <div class ='style-fight-button'>
            <button class='fight-button' id ='fight-button'>FIGHT!</button>
        </div>
    </section>

    <section>
        <div class ='yellowRat-image'>
            <img id ='yellowRat-image2' src="not-found.png" alt ='placeholder image' width="200" height="200">
        </div>

        <div class ='italianPlumber-image'>
            <img id ='italianPlumber-image2' src="not-found.png" alt ='placeholder image' width="200" height="200">
        </div>

        <div class ='greenWarrior-image'>
            <img id ='greenWarrior-image2' src="not-found.png" alt ='placeholder image' width="200" height="200">
        </div>
    </section>

    <section>
        <div class ='cthulhu-image'>
            <img id ='cthulhu-image2' src="not-found.png" alt ='placeholder image' width="200" height="200">
        </div>
    </section>
</body>