* {
  font-family: "Audiowide", cursive;
}

/* HOME HANDLEBARS STYLING */

#bgImgHome {
  max-height: 100vh;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#spaceBossHome {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
}

@media (max-width: 1265px) {
  #bgImgHome {
    max-height: 100vh;
    min-width: 1024px;
    width: 100%;
    height: 842px;
    position: fixed;
    top: 0;
    left: 0;
  }
  #spaceBossHome {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
  }
}

@media (max-width: 550px) {
  #bgImgHome {
    max-height: 100vh;
    min-width: 1024px;
    width: 100%;
    height: 842px;
    position: fixed;
    top: 0;
    left: 0;
  }
  #spaceBossHome {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
  }
}

#loginBtnHome {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 30px;
  font-size: 50px;
  height: 145px;
  width: 260px;
  letter-spacing: 1px;
}

#loginBtnHome:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.2s;
  cursor: pointer;
  height: 150px;
  width: 270px;
  letter-spacing: 8px;
}

/* LOGIN HANDLEBARS STYLING */

#bgImgLogin {
  max-height: 100vh;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 1265px) {
  #bgImgLogin {
    max-height: 100vh;
    min-width: 1024px;
    width: 100%;
    height: 842px;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media (max-width: 550px) {
  #bgImgLogin {
    max-height: 100vh;
    min-width: 1024px;
    width: 100%;
    height: 842px;
    position: fixed;
    top: 0;
    left: 0;
  }
}

#containerLogin {
  padding-top: 16rem;
}

#center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CHARSELECT STYLING */

#bgImgCharSel {
  max-height: 100vh;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#containerCharSel,
#nameConCharSelec {
  padding: 1rem;
}

#nameConCharSelec {
  padding-top: 7rem;
}

#yellowRat,
#italianPlumber,
#greenWarrior {
  max-height: 150px;
}

#p1,
#p2,
#p3 {
  display: flex;
  justify-content: baseline;
}

#create-character {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(66, 59, 59);
  border: none;
  border-radius: 30px;
  font-size: 40px;
  height: 90px;
  width: 260px;
  letter-spacing: 1px;
}

#create-character:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.2s;
  cursor: pointer;
  height: 95px;
  width: 290px;
  letter-spacing: 6px;
}

@media (max-width: 1265px) {
  #bgImgCharSel {
    max-height: 100vh;
    min-width: 1024px;
    width: 100%;
    height: 842px;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media (max-width: 550px) {
  #bgImgCharSel {
    max-height: 100vh;
    min-width: 1024px;
    width: 100%;
    height: 842px;
    position: fixed;
    top: 0;
    left: 0;
  }
}

/*  */
/* PROFILE STYLING */
/*  */

#bgImgProfile {
  max-height: 100vh;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#charImgPro {
  max-height: 200px;
}

#proContain {
  padding-top: 10rem;
}

#charNamePro {
  font-size: 45px;
}

.statsProfile {
  font-size: 30px;
}

/* .contain {
  height: 50vh;
}

.chartWrapper {
  width: 250px;
  height: 250px;
  margin: 0 auto;
} */

.floating-btn-profile {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  /* padding: 5px; */
  font-family: "Audiowide", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  font-size: 26px;
  /* position: fixed; */
  top: 43%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  height: 65px;
  width: 180px;
}

.floating-btn-profile:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 118, 139);
  transition: 0.2s;
  cursor: pointer;
  font-size: 30px;
  height: 60px;
  width: 200px;
  letter-spacing: 8px;
  /* backdrop-filter: blur(50px); */
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.8);
}

@media (max-width: 1265px) {
  #bgImgProfile {
    max-height: 100vh;
    min-width: 1024px;
    width: 100%;
    height: 842px;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media (max-width: 550px) {
  #bgImgProfile {
    max-height: 100vh;
    min-width: 1024px;
    width: 100%;
    height: 842px;
    position: fixed;
    top: 0;
    left: 0;
  }
}

/*  */
/* FIGHT PAGE STYLING */
/*  */

.bgImgFight {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/45908.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#top {
  height: 55rem;
}

#character {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#character img {
  height: 200px;
  padding-bottom: 2.5rem;
  opacity: 0%;
}

#boss {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#boss img {
  height: 650px;
  margin-bottom: 2rem;
  opacity: 0%;
}

#title {
  padding-top: 1rem;
}

.stats {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

.hp {
  font-weight: bold;
  margin-top: 1rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.7);
}

.hpBorder {
  width: 250px;
  height: 30px;
  border: 3px solid;
  border-color: black;
  background-color: red;
}

.hpBar {
  width: 244px;
  height: 24px;
  background-color: rgb(43, 192, 43);
  justify-content: center;
}

.btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 4px;
  font-family: "Audiowide", cursive;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.2s;
  cursor: pointer;
  height: 30px;
  width: 140px;
  letter-spacing: 1px;
}

#strongAttackBtn {
  width: 170px;
}

#strongAttackBtn:hover {
  width: 180px;
  letter-spacing: 1.4px;
}

#specAttackBtn {
  visibility: hidden;
}

#preAttackBtn {
  width: 170px;
}

#preAttackBtn:hover {
  width: 182px;
}

#specAttackBtn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.2s;
  cursor: pointer;
  height: 30px;
  width: 160px;
  letter-spacing: 1px;
}

.floating-btn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-family: "Audiowide", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  font-size: 26px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65px;
  width: 280px;
}

.floating-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 118, 139);
  transition: 0.2s;
  cursor: pointer;
  font-size: 30px;
  height: 60px;
  width: 300px;
  letter-spacing: 3px;
  backdrop-filter: blur(50px);
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.8);
}

#playAgainBtn {
  visibility: hidden;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
}

#newCharBtn {
  visibility: hidden;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 63px;
}

#newCharBtn:hover {
  height: 69px;
}

#bossInstructions {
  padding: 2px;
}

#instructions {
  padding: 2px;
}

#statArea {
  padding: 2px;
}
